<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850245176593-43brgs2umm68tuoekm6kqi2m1lqdlbsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850245176593-43brgs2umm68tuoekm6kqi2m1lqdlbsh</string>
	<key>API_KEY</key>
	<string>AIzaSyANW1w8DPBtgFZ6Qd48b2gVJp88RdV-SWo</string>
	<key>GCM_SENDER_ID</key>
	<string>850245176593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dulcebite.app</string>
	<key>PROJECT_ID</key>
	<string>dulce-bite</string>
	<key>STORAGE_BUCKET</key>
	<string>dulce-bite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850245176593:ios:89b0b2feeead515d3010b0</string>
</dict>
</plist>